/* You can add global styles to this file, and also import other style files */

/* Design system*/

/* principal colors */
:root {
    --blue-primary: #3254FC;
    --yellow-primary: #FAE01E;
    --orange-primary: #FF931D;
  }

  nav {
      background-color: white !important;
  }

  .chatbot{
      margin-left: 2000px !important;
  }