<footer
  class="fixed-bottom navbar navbar-expand-lg justify-content-center bg-dark"
>
  <div class="container-fluid justify-content-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Temas</a>
      </li>
      <li class="nav-item">
        <a a [routerLink]="['/gen60plus']" class="nav-link" >Gen60+</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/suporte']" class="nav-link" >Suporte</a>
      </li>
    </ul>
  </div>
</footer>