<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">

    <div class="col-md-12">

        <img src="https://images-ext-1.discordapp.net/external/8m4YGPVXAh0nlNhZA_tPx03etGOAQGZ91tzB5r2CyN4/https/i.imgur.com/aX47nr9.png"
            style="width:72%;float:center;margin-left:100px;">

        <div style="width:100%;float:center;margin-left:100px;">
            <h1 style="font-weight:bold;font-size:34px;">Poxa! Não encontramos essa pagina</h1>
            <div style="font-size:25px;">Não se preocupe! Para retornar clique no botão abaixo</div>
            <div>
                <br />
                <button type="button" class="btn btn-outline-warning btn-lg" style="width:25%;"
                    onclick={}>Voltar</button>
            </div>
        </div>
    </div>
</div>
