:root {
  --blue-primary: #3254fc;
  --yellow-primary: #fae01e;
  --orange-primary: #ff931d;
}

svg {
  color: var(--orange-primary) !important;
}
.entrar {
  color: var(--blue-primary) !important;
  font-size: 1.25rem;
  transition: 300ms;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.entrar:hover {
  transition: 300ms;
  opacity: 70% !important;
}

.collapse {
  padding: 1rem;
}

a {
  cursor: pointer;
}

.nav-link-menu {
  font-size: 1.5rem;
  color: #16171a !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.nav-link-menu:hover {
  opacity: 80% !important;
}
.nav-link-entrar {
  font-size: 1.2rem;
  color: #3254fc !important;
  font-weight: 400;
}

.nav-item {
  padding-left: 0.9rem;
}
ul {
  display: flex;
  justify-content: center;
}

.entrar {
  width: 200px;
}
.entrar:hover {
  width: 100%;
  border-radius: 20px;
  width: 210px;
}
