<footer class="page-footer font-small bg-light pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <img
          src="https://avatars.githubusercontent.com/u/91280708?s=400&u=9780c75e6fe86ed6cf1cae1fafa2a24b965c8f56&v=4"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />

        <p class="text-black mr-auto">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="gen-rodape ml-auto">
          <li class="">
            <a href="" target="_blank">Início</a>
          </li>

          <li>
            <a href="" target="_blank">Temas</a>
          </li>

          <li>
            <a href="" target="_blank">Gen60+</a>
          </li>

          <li>
            <a href="" target="_blank">Suporte</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
