<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
<!------Links para funcionar os icons ---------->
<app-menu-default></app-menu-default>

<div class="container p-4">
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
      <h1 class="section-title text-center mt-3 mb-4">O que é a Gen60+ ?</h1>
      <p class="d-flex justify-content-center">
        Nosso projeto tem a ideia de inserir pessoas da terceira à rede social
        como forma de mecanismo de sociabilidade e que compartilhem informações
        benéficas para sua saúde e segurança, para que não caiam mais em erros
        que pode lhes causar danos financeiros ou psicológicos.
        </p>
        <p class="d-flex justify-content-center">
          Quando pensamos em tecnologia e inovação facilmente conectamos isso a pessoas
          jovens e se você pensar em redes sociais e pessoas mais velhas, já
          conecta com aquela ideia do seu familiar que é idoso que está com
          problema em acessar qualquer rede social e vai te pedir ajuda em como
          compartilhar algo ou em como fazer o cadastro e que vai dar um trabalho
          para ensiná-lo a mexer corretamente.
        </p>
        <p class="d-flex justify-content-center">
        Pensando nas metas da ONU, especificamente a ODS 16 que visa promover
        sociedades pacíficas e inclusivas para o desenvolvimento sustentável
        reduzindo significativamente todas as formas de violência e as taxas de
        mortalidade relacionada em todos os lugares, pensamos no projeto gen60+,
        desmistificando a ideia de que tecnologia não pode ser para pessoas da
        terceira idade, surge a ideia de uma rede social para esse grupo, onde o
        idoso consegue acesso à informações que por muita das vezes está sendo
        um problema em suas vidas, como golpes financeiros no WhatsApp e
        compartilhamento de Fake News.
      </p>
      
      <p class="d-flex justify-content-center">
        Nosso objetivo também é que as publicações conectem os idosos que vivem
        sozinhos em casa e consigam companhia para conversar um com os outros.
        Uma rede social que conecta pessoas para uma vida ainda mais duradoura
        com saúde, informação e conexão♥
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content" id="us-home">
      <img class="ml-5 img-primary" src="https://i.imgur.com/IaOW2S1.png" />
    </div>
  </div>
</div>
<!--Finaliza sobre Gen60+-->

<!-- 
<div class="container">
    <div class="row">
            <div class="col-4" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                <div class="frontside">
                <div class="card" style="width:20rem;">
                <img class="card-img-top img- fluid" src="https://i.imgur.com/g7EFLNt.png" alt="card image">
                <div class="card-body">
                <h4 class="card-title">Missão</h4>
                
                </div>
                </div>
                </div>
                <div class="backside">
                <div class="card" style="width:20rem;">
                <div class="card-header">
                Missão Gen60+
                </div>
                <div class="card-body">
                <br><br>
                <h4 class="card-title">Projeto que visa ajudar as pessoas idosas a se conectarem.</h4>
                
                </div>
                <div class="card-footer">
                Missão Gen60+
                </div>
                </div>
                </div>
                </div>
            </div>

            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                <div class="frontside">
                <div class="card" style="width:20rem;">
                <img class="card-img-top img- fluid" src="https://i.imgur.com/SaceBoD.png" alt="card image">
                <div class="card-body">
                <h4 class="card-title">Visão</h4>
               
                </div>
                </div>
                </div>
                <div class="backside">
                <div class="card" style="width:20rem;">
                <div class="card-header">
                Visão Gen60+
                </div>
                <div class="card-body">
                <br><br>
                <h4 class="card-title">Ser uma referência de rede social para a comunidade da terceira idade, trazendo mais saúde e segurança aos mesmos.</h4>
               
               
                </div>
                <div class="card-footer">
                Visão Gen60+
                </div>
                </div>
                </div>
                </div>
            </div>

            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                <div class="frontside">
                <div class="card" style="width:20rem;">
                <img class="card-img-top img- fluid" src="https://i.imgur.com/2xFaznq.png" alt="card image">
                <div class="card-body">
                <h4 class="card-title">Valores</h4>
                
                </div>
                </div>
                </div>
                <div class="backside">
                <div class="card" style="width:20rem;">
                <div class="card-header">
                Valores Gen60+
                </div>
                <div class="card-body">
                <br><br>
                <h4 class="card-title">Empresa inovadora, que proporciona modernidade, ao mesmo tempo acessibilidade aos idosos para serem inseridos na comunidade das redes sociais.</h4>
                
                
                </div>
                <div class="card-footer">
                Valores Gen60+
                </div>
                </div>
                </div>
                </div>
          
        </div>
    </div>
</div>
-->
<!--Finaliza missão. visão e valores-->
<div style="height: 250px"></div>
<!-- Team -->

<section id="team" class="pb-3">
  <div class="container">
    <h5 class="section-title h1">Quem somos nós ?</h5>
    <div class="row d-flex">
      <!-- Team member 1-->
      <div class="col-sm-4 d-flex justify-content-center">
        <div class="image-flip rounded-circle">
          <div class="mainflip flip-0 rounded-circle">
            <div class="frontside rounded-circle">
              <div class="card rounded-circle">
                <div class="card-body text-center rounded-circle">
                  <p>
                    <img
                      class="img-fluid rounded-circle"
                      src="https://i.imgur.com/2ZFy6qo.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Cássia Lima</h4>
                  <p>Scrum Master e Back end Team.</p>
                </div>
              </div>
            </div>
            <div class="backside rounded-circle">
              <div class="card rounded-circle">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Cássia Lima</h4>
                  <p>
                    Conheça mais sobre a Cássia e seus projetos nos links
                    abaixo.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/cassiarlima"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/c%C3%A1ssia-lima-4279b5163/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member 1-->
      <!-- Team member 2-->
      <div class="col-sm-4 d-flex justify-content-center">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid rounded-circle"
                      src="https://i.imgur.com/TGWqcO7.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Felipe Nascimento</h4>
                  <p>Tester e Back End Team.</p>
                </div>
              </div>
            </div>
            <div class="backside rounded-circle">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Felipe Nascimento</h4>
                  <p>
                    Conheça mais sobre o Felipe e seus projetos nos links
                    abaixo.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/FeliipeNascimento"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/felipe-nascimento-4733a1211/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member 2-->
      <!-- Team member 3-->
      <div class="col-sm-4 d-flex justify-content-center">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid rounded-circle"
                      src="https://i.imgur.com/qlv1p7d.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Joice Simão</h4>
                  <p>Dev team (Front e Back end).</p>
                </div>
              </div>
            </div>
            <div class="backside rounded-circle">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Joice Simão</h4>
                  <p>
                    Conheça mais sobre a Joice e seus projetos nos links abaixo.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/Joice-Simao"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/joice-sim%C3%A3o-leite-520496221/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member 3-->
      <!-- Team member 4-->
      <div class="col-sm-4 d-flex justify-content-center">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid rounded-circle"
                      src="https://i.imgur.com/Sct5Uhs.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Paulo Grillo</h4>
                  <p>Tech Lead.</p>
                </div>
              </div>
            </div>
            <div class="backside rounded-circle">
              <div class="card">
                <div class="card-body text-center mt-4 rounded-circle ">
                  <h4 class="card-title">Paulo Grillo</h4>
                  <p>
                    Conheça mais sobre o Paulo e seus projetos nos links abaixo.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/paulogrillo"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/paulo-augusto-grillo/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member 4-->
    </div>
  </div>
</section>
<!-- Team -->

<!--Projeto apoio-->
<section class="pb-3">
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h4 class="section2-title h1">Projetos que apoiamos</h4>
      <div class="col-sm-4 d-flex justify-content-center">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid rounded-circle"
                      src="https://i.imgur.com/k4yMF9k.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Projeto Nick</h4>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="backside rounded-circle">
              <div class="card">
                <div class="card-body text-align-center mt-4 rounded-circle ">
                  <h4 class="card-title text-center">Projeto Nick</h4>
                  <p class="d-flex justify-content-center">
                    Nick é um projeto pensado a partir da ODS 16 focada na meta de acabar com abuso, exploração, tráfico e todas as formas de violência e tortura contra crianças. 
                    Nick é uma rede social, que tem como objetivo a autoajuda e autoeducação, assim contendo postagens e até ajuda direta com profissionais para solucionar e direcionar tais problemas, isso tudo com a total segurança e conforto.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/GenNCK"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/paulo-augusto-grillo/"
                      >
                        <i class="fa fa-window-restore"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--/Projeto apoio-->


<app-rodape-default></app-rodape-default>