.div-formulario {
    display: flex;
    justify-content: center;
    
}

.form {
    padding: 20px;
}

.label-name {
   font-family: cursive;
    font-size: 1.500rem;
    width: 600px !important;
}
.input-name{
    height: 50px !important;
    width: 600px !important;

    
}

.input-fname{
    width: 100%;
}
.title-pais{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
}
.text-area {
    width: 600px;
    margin: 0;
}
@media (max-width: 600px) {
    
    .form {
        padding: 20px;
        width: auto;
    }
    
    .label-name {
       font-family: cursive;
        font-size: 1.200rem;
        width: 250px !important;
    }
    .input-name{
        height: 50px !important;
        font-size: 1rem;        
    }
    .input-fname{
        width: 300px !important;
    }
    .title-pais{
        display: flex;
        font-size: 1.2rem;
        font-weight: 500;
    }
}
