<div style="display: flex; justify-content: center;  width: 100%;" >
    
    <form 
    action="#" 
    style="margin-top: 50px; padding: 10px; border-radius: 5px;">
    <h1 style="text-align: center;">CADASTRO</h1>
    <!--Fist Name-->
        <label
        class="label-name" 
        style="font-size: 22px;" for="fname">Nome</label>
        <br>
        <input 
            class="input-fname"
            type="text" 
            id="fname" 
            name="firstname" 
            placeholder="Digite o seu nome" >
        <div id="textFname"></div>
        <br>
    <!--Ultimo nome-->  
        <label 
            style="font-size: 22px; margin-top: 10px; " for="lname">Email
        </label>
        <br>
        <input 
            class="input-fname"
            style="margin-bottom: 10px; font-size: 18px;" 
            type="text" 
            id="lname" 
            name="lastname" 
            placeholder="Ex: email@email.com.br">
        <div id="textLname"></div>
        <br>
        
        <!--Assunto-->
        <label 
        style="font-size: 22px; margin-top: 10px; " for="lname">Senha
    </label>
    <br>
    <input 
        class="input-fname"
        style="margin-bottom: 10px; font-size: 18px;" 
        type="text" 
        id="lname" 
        name="lastname" 
        placeholder="Digite sua senha">
        
        <br><br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mr-4">Cancelar</button>
            <button class="btn btn-success">Cadastrar</button>
        </div>
        <h6 style="text-align:center;">Ja possui cadastro?  <a href="/entrar" >Entre aqui</a></h6>
            
            </form>
      </div>
        