:root {
    --blue-primary: #3254FC;
    --yellow-primary: #FAE01E;
    --orange-primary: #FF931D;
  }

.background-home {
    width: 100%;
    height: 624px;
    background-image: url("../../assets/img/background-home.png") !important;
    image-rendering: -webkit-optimize-contrast !important;
    background-repeat: round !important;
   
 
}
/* Desktop 1200 PX*/
@media (max-width: 1280px) {
    .background-home {
        width: 100%;
        height: 390px;
        background-image: url("../../assets/img/background-home-1200-390.png") !important;
        image-rendering: -webkit-optimize-contrast !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }
}
/* MOBILE 630 PX*/
@media (max-width: 630px) {
    .background-home {
        width: 100%;
        height: 790px;
        
        background-image: url("../../assets/img/background-home-mobile-630-790.png") !important;
        image-rendering: -webkit-optimize-contrast;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

/* MOBILE 320 PX*/
@media (max-width: 320px) {
    .background-home {
        width: 320px;
        height: 500px;
        
        background-image: url("../../assets/img/background-home-mobile.png") !important;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.card-deck{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem;
}
.card {
   
    background-color: transparent !important;
    border: 0;
   
    max-width: 600px;
    max-height: 500px;
}
.card-text{
    text-align: start;
    color: #FFFFFF !important;
    margin-left: 0.5rem;
    margin-top: 5rem;
    font-size: 4.8rem;
}

@media (max-width: 1200px) {
    .card-text{
        text-align: start;
        color: #FFFFFF !important;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        font-size: 2rem;
    }
}

.cards{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-item{
    width: 200px;
    height: 200px;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 100px !important;
    background-color: black;
}
.main-conteudo{
    width: 100%;
}

/*menu*/ 
  svg {
    color: var(--orange-primary) !important;
  }
  .entrar {
    color: var(--blue-primary) !important;
    font-size: 1.25rem;
    transition: 300ms;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .entrar:hover {
    transition: 300ms;
    opacity: 70% !important;
  }
  
  .collapse {
    padding: 1rem;
  }
  
  a {
    cursor: pointer;
  }
  
  .nav-link-menu {
    font-size: 1.5rem;
    color: #16171a !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .nav-link-menu:hover {
    opacity: 80% !important;
  }
  .nav-link-entrar {
    font-size: 1.2rem;
    color: #3254fc !important;
    font-weight: 400;
  }
  
  .nav-item {
    padding-left: 0.9rem;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  
  .entrar {
    width: 200px;
  }
  .entrar:hover {
    width: 100%;
    border-radius: 20px;
    width: 210px;
  }
  

  /*rodape*/

  ul.gen-rodape{
      list-style: none;
      padding: 0px;
      margin: 0;
  }
  ul.gen-rodape li{
    margin: 0;
    padding: 5px;
    
  }
 
  .rodape{
    position: fixed;
    bottom: 1px;
    width: 100%;
    background-color: white !important;
  }

  .nav-link-menu {
    font-size: 1.5rem;
    color: #16171a !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .nav-link-menu:hover {
    opacity: 80% !important;
  }
  .nav-link-entrar {
    color: #3254fc !important;
    font-weight: 400;
  }
  
  .nav-item {
    padding-left: 0.9rem;
  }

