
<!--rodape-->
<div class="rodape">
    <footer class="pt-4 container py-4">
      <div class="row">
        <div class="col justify-content-center">
          <p class="text-center mr-auto mx-4 fs-4">
            Impactando vidas através da tecnologia.
            <img
              src="https://avatars.githubusercontent.com/u/91280708?s=400&u=9780c75e6fe86ed6cf1cae1fafa2a24b965c8f56&v=4"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt=""
            />
          </p>
        </div>
      </div>
    </footer>
  </div>
  <!--/rodape-->
  