:root {
  --blue-primary: #3254fc;
  --yellow-primary: #fae01e;
  --orange-primary: #ff931d;
}

.nova-postagem {
  color: #1129a3af;
  font-family: "Raleway", sans-serif;
  font-size: 2rem !important;
  font-weight: 800;
  border-color: var(--blue-primary);
  transition: 580ms;
}

.nova-postagem:hover {
  transition: 580ms;
  border-color: var(--orange-primary);
  background-color: transparent;
}

nav {
  background-color: transparent !important;
}
