:root {
  --blue-primary: #3254fc;
  --yellow-primary: #fae01e;
  --orange-primary: #ff931d;
}

.nova-postagem {
  color: #1129a3af;
  font-family: "Raleway", sans-serif;
  font-size: 2rem !important;
  font-weight: 800;
  border-color: var(--blue-primary);
  transition: 580ms;
}

.nova-postagem:hover {
  transition: 580ms;
  border-color: var(--orange-primary);
  background-color: transparent;
}

nav {
  background-color: transparent !important;
}

.img-post{
  background-clip: content-box;
  width: 100% !important;
  border-radius: 2px;
}

.card-tex{
  text-align: justify;
  text-justify: distribute !important;
}

.card-title{
  font-size: 1.2rem;
  font-weight: 800;
  color: #1129a3af;
 
  font-family: "Raleway", sans-serif;
}

.card-body{
  padding: 0;
}

.editar{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #3254fc;
  border-radius: 2rem;
  width: 250px;
  padding: 0.5rem;
  cursor: pointer;
 
  transition: 600ms;
}.editar:hover{
  transition: 600ms;
  background-color: #3254fca1;
}

.deletar{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: red;
  border-radius: 2rem;
  width: 250px;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 10px;
  transition: 600ms;
}.deletar:hover{
  transition: 600ms;
  background-color: rgba(255, 0, 0, 0.644);
}
